
.jumbotron{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   background-image: url(back%20moraine.jpg);
    min-height: 100%; 
    padding-bottom: 30vw;
}
.secondPic{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(cool.jpg); 
    min-height: 400px; 
    padding-bottom: 30vw;
    
}
.pic3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(sarrail.JPG);  
    min-height: 400px; 
    padding-bottom: 30vw;
}
.pic4{
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(calgary.jpg);  
    min-height: 400px; 
    padding-bottom: 30vw;
}
#mainTitle{
    font-size: 9.5vw; 
    padding-top: 10vw;
    font-family: Audiowide, serif; 
    color: #000000; 
    padding-bottom: 2vw; 
}
#quote1{
    font-family: Poiret One, serif; 
    font-size: 3vw; 
    color:  #000000; 
    font-weight: bold; 
}

.navbar{
    margin-bottom: 0;
    background-color:#ffffff; 
    z-index: 9999;
    border: 0;
    font-size: 13px !important; 
    line-height: 1.4356 !important; 
    letter-spacing: 4px !important; 
    border-radius: 0;  
    border-bottom: 0.2vw #00cc44;
    border-style: solid;
}
.waterlooPara{
    padding-bottom: 2vw;
    
}

.navbar li a, .navbar .navbar-brand{
    color: #00cc44 !important; 
}

.navbar-nav li a:hover, .navbar-nav li .active a{
    color: white !important;
    background-color: #00cc44 !important;
    font-weight: bolder; 
}
.navbar-default .navbar-toggle{
    background-color: transparent;
    color: #fff !important; 
}
body{
    position: relative;
}
#aboutme {
    text-align: center; 
}

#aboutTitle{
    font-family: Audiowide, serif; 
    color: #00cc44;
    font-size: 3vw; 
    padding-top: 2vw;
      
}
#mySelf{
    font-size: 1.5vw;
    font-family: Poiret One, serif; 
    color: #000000; 
    font-weight: bolder; 
}


#aboutPara{
    font-size: 1vw; 
}

.goals{
    text-align: center;
}

#groupIcon {
    color: #000000;
}
#heartBeat{
    color:  #ff0000;
}

.goals, #also, #work{
    font-family: Audiowide, serif; 
    color:  #3333cc;
    font-size: 2vw;
    position: relative; 
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
}
#shortTerm{
    font-family: Poiret One, serif;
    font-weight: bolder;
    font-size: 1.5vw; 
    color: #00cc44; 
    text-decoration: underline;
    text-decoration-color: #3333cc; 
}


#shortGoals{
    text-align: left; 
    position: relative;
    left: -8vw; 
}

#groupIcon, #money, #checkMark, #car, #globe, #code{
    font-size: 2vw;
    padding-top: 1.4vw; 
    
}

#longGoals{
    text-align: right;
    position: relative;
    right: -15vw;

}
#raceCar, #spaceShuttle, #shield, #heartBeat, #sign, #streetView{
    font-size: 2vw;
    padding-top: 1.4vw; 
}  
#longTerm{
     font-family: Poiret One, serif;
    font-weight: bolder;
    font-size: 1.5vw; 
    color: #00cc44; 
    text-decoration: underline;
    text-decoration-color: #3333cc; 
}
#raceCar, #money{
    padding-bottom: 3vw; 
}
.location{
  padding-left: 2vw;
  color: #000000;
  font-size: 1.5vw;
font-family: Audiowide, serif; 
color: #000000; 
}
#marker{
    color: #ff0000; 
}
#mySkills{
    font-family: Audiowide, serif; 
    color: #00cc44;
    font-size: 3vw; 
    padding-top: 2vw;
    text-align: center; 
    
}

#html5{
    text-align: center;
    position: relative;
    color: #f4511e; 
    right: -10vw;
    font-size: 4vw;
    padding-bottom: 1vw;
}

#css3{
    text-align: center;
    position: relative;
    color:#1a53ff ; 
    right: -10vw;
    font-size: 4vw;
    padding-bottom: 1vw;
}
#skills1{
    position: relative;
    left: -3vw; 
    padding-top: 2vw; 
}

#skills2{
    position: relative;
    padding-top: 2vw; 
}

#jS{
    width: 4.5vw; 
    position: relative;
    left: 8vw;
    padding-bottom: 0.5vw; 
}
#skills3{
    position: relative;
    padding-top: 2vw;
    right: -3vw;
}
#skills{
   font-size: 1vw;
color: #000000; 
}

#skills4{
    position: relative;
    left: -3vw; 
    padding-top: 2vw; 
}
#jQuery{
    width: 6vw;
     position: relative;
    left: 8vw;
    
}

#cPlus{
    width: 7vw;
    position: relative;
    left: 8vw;
    
}
#skills5{
    padding-top: 1vw;
}
#autoCad{
    width: 6vw;
    position: relative;
    left: 8vw; 
    bottom: 1vw;
}
#skills6{
    position: relative;
    padding-top: 2vw;
    right: -3vw;
}
#model{
    width: 5vw;
    position: relative;
    left: 15vw; 
    bottom: 1vw;
}
#skills7{
    position: relative;
    padding-top: 3vw; 
    padding-bottom: 3vw;
    right:2vw;
}
#robot{
    width: 4.5vw;
    position: relative;
    left: 15vw;
    padding-bottom: 0.5vw;
}
#skills8{
    position: relative;
    padding-top: 3vw; 
    padding-bottom: 3vw;
    left:2vw;
}
#wrench, #clock, #heart, #smile{
    font-size: 3vw;
    color: #00cc44;

    
}
#wrench, #clock{
    position: relative;
    left: 5vw;
}
#smile{
    position: relative;
    left: 5vw;
}
#heart{
    position: relative;
    left: 5.2vw;
}
#dedication, #respect, #patience, #opt{
    padding-top: 1vw;
    padding-bottom: 2vw;
}
#myProjects, #myContact{
    font-family: Audiowide, serif; 
    color: #00cc44;
    font-size: 3vw; 
    padding-top: 2vw;
    text-align: center; 
}

#personal{
    padding-top: 1vw;
    font-family: Poiret One, serif;
    font-weight: bolder;
    font-size: 1.5vw; 
    color: #f4511e; 
    text-decoration: underline;
    text-decoration-color: #3333cc; 
    position: relative;
    text-align: center;
}
#fork{
    padding-top: 1vw;
    font-family: Poiret One, serif;
    font-weight: bolder;
    font-size: 1.5vw; 
    color: #f4511e; 
    text-decoration: underline;
    text-decoration-color: #3333cc; 
    position: relative;
    text-align: center;
    
}
#forkLift{
     width: 15vw;
    padding-top: 6vw;
    position: relative;
    left: 11vw;
    bottom: 1vw;
   
}

#chrome{
    position: relative;
    right: -10vw;
    top: 2vw;
    font-size: 15vw;
    color: #f4511e;
}
#formula{
    padding-top: 2vw;
    font-family: Poiret One, serif;
    font-weight: bolder;
    font-size: 1.5vw; 
    color: #f4511e; 
    text-decoration: underline;
    text-decoration-color: #3333cc; 
    position: relative;
    text-align: center;
}
#f1{
    width: 25vw;
    position: relative;
    right: -6vw;
    top: 2vw;
    font-size: 15vw;
}
.slideanim{visibility: hidden}
.slide{
    animation-name: slide;
    -webkit-animation-name:slide;
    animation-duration: 1s;
    -webkit-animation-duration:1s;
    visibility: visible;
}

#elite{
    width: 50vw;
}
.machine{
    text-align: center; 
}
.elite{
    font-size: 3vw; 
    font-family:Poiret One, serif;
    color: #000000; 
    font-weight: bolder; 
    padding-bottom: 1vw;
    text-decoration: underline;
    text-decoration-color: #ff0000; 
    text-align: center;
 }
.intern, .pos1{
    font-size: 1.5vw; 
    padding-bottom: 0.5vw;
    font-weight: bold;
    text-align: center;
    
}


.time, .timeLoo{
    font-size: 1vw; 
    padding-bottom: 1vw;
    font-weight: bold;
    text-align: center;
    
}

.waterlooPic{
    width: 60vw;
    padding-left: 20vw;
    padding-top: 2vw;
}
.waterlooTitle{
    top: -20vw;
    padding-top: 0.7vw;
    font-size: 3vw; 
    font-family:Poiret One, serif;
    color: #000000; 
    font-weight: bolder; 
    padding-bottom: 1vw;
    text-decoration: underline;
    text-decoration-color: #ffcc00; 
    text-align: center;
}
#phone, #email, #linkedIn, #myResume{
    color: #ff5050;
    font-size: 5vw;
    padding-top: 3vw;
  
}
#email{
    left: 2.3vw;
}
#linkedIn{
    padding-left: 3vw;
    
}
#myResume{
    padding-left: 3.5vw;
    
}
#phoneNum, #myEmail, #myProfile, #resume{
    font-size: 1.5vw;
    font-family:  Poiret One, serif;
    font-weight: bolder;
}


#phone{
    left: 3vw;
}

#email{
    padding-left: 2.6vw;
}
#linkedIn{
    padding-left: 5.8vw;
}
#myResume{
    padding-left: 4.7vw;

}
#footer{
    padding-top: 8vw;
    
}
#arrow{
    font-size: 3vw;
    color: #00cc44;
}
#thanks{
    font-size: 1vw;
    font-weight:bolder;
}



@keyframes slide{
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide{
    0%{
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0%);
}





    
    
